.container
  .content
    .info
      .title
        About Us
      .sub-title
        General Order Information
      .text
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vivamus egestas bibendum interdum. In sit amet justo odio.
        Aenean luctus convallis augue, et congue libero.
        Suspendisse interdum mattis posuere.
        Donec accumsan at nisl nec sodales. Etiam vitae placerat ante.
        Sed at justo egestas, egestas elit in, lobortis libero.
        Pellentesque at tortor vel nunc tempus gravida sit amet ac eros.
        Aenean euismod tortor sit amet dapibus rutrum. Sed urna ligula,
        consequat sit amet turpis mollis, rutrum consectetur arcu.
        Etiam non urna congue, blandit ex at, pulvinar massa. Integer nec nibh urna.
      .sub-title
        Fill out a form
      .text
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vivamus egestas bibendum interdum. In sit amet justo odio.
        Aenean luctus convallis augue, et congue libero.
        Suspendisse interdum mattis posuere.
        Donec accumsan at nisl nec sodales. Etiam vitae placerat ante.
        Sed at justo egestas, egestas elit in, lobortis libero.
        Pellentesque at tortor vel nunc tempus gravida sit amet ac eros.
        Aenean euismod tortor sit amet dapibus rutrum. Sed urna ligula,
        consequat sit amet turpis mollis, rutrum consectetur arcu.
        Etiam non urna congue, blandit ex at, pulvinar massa. Integer nec nibh urna.
    .pages
      = render "orders/order_form"