.container
  .content
    .info
      .title
        Frequently Asked Questions
      .sub-title
        General Order Information
      .faq
        %ul
          %li
            %span.question
              How does your essay writing  service work?
          %div
            If you want to get more detailed information about our service, visit
            “How it works” page with a step by step description of the whole essay
            writing process.
          %li
            %span.question
              How to place an order?
          %div
            There are 2 types of order forms – short and extended.
            The short one is available on Home page, “How it Works” and
            “Our Writes” pages. Enter your academic level, type of paper,
            pages, deadline and press the Continue button. You will be redirected
            to the extended form, where you need to enter your discipline, topic,
            comments and suggestions and also you can download additional materials,
            needed for an essay writing. In the left side you can see the list of
            available essay writers (we select the best writer for your assignment).
            %br
            %br
            After pressing the Continue button you’ll need to enter your email,
            password (if you don’t have an account it will be created automatically)
            or you can log in as a Facebook user within one click. Make a payment to
            get the work started. Visit “How it works” page for more detailed information.
          %li
            %span.question
              Can I send my articles, additional materials to the essay writer?
          %div
            Yes, you can. After filling out the short form, you’ll be redirected to
            extended form where you can upload additional materials.
          %li
            %span.question
              How much time will it take to write an essay?
          %div
            We guarantee all customers the on time delivery.
            You can enter the necessary deadline in order form.
          %li
            %span.question
              How can I receive my paper?
          %div
            Once your order is ready (you can see the current order status after
            entering “My Account” menu in the right upper corner of the site),
            you’ll be notified by email and on our website in “My Orders” menu.
          %li
            %span.question
              What if I don’t like the paper?
          %div
            Contact our Customer Support and your paper will be corrected or improved.
            We guarantee the top quality essay writing service and individual approach,
            so overall our customers are satisfied with the final results.
          %li
            %span.question
              How can I pay for the paper?
          %div
            After filling out the necessary form and pressing “Go to Checkout” button
            you’ll be redirected to a page, where you can make a payment using the
            convenient payment method. We also accept payments through PayPal.
          %li
            %span.question
              How can I be sure that my paper is original?
          %div
            When the paper is ready, our editors check it carefully. All materials are
            written by experienced essay writers, so be sure of your assignment’s originality.
          %li
            %span.question
              Where can I see the status of my order?
          %div
            Go to your personal EssayStation account and see your current orders and their details:
            ID, topic, price, deadline and status: Unfinished, Payment pending,
            In progress, Ready for checking, Improved, Done. When your paper is done,
            you’ll get notification by email and you’ll see it in your order status.
          %li
            %span.question
              Is it safe to provide my personal information on your essay writing website?
          %div
            All information including your email and password or other details you provide
            is not visible to essay writers or any other third part. We are not going to
            disclose or use for any other purposes your data under any circumstances.
    .pages
      = render "orders/order_form"