.container
  .content
    .info
      .title
        How It Works
      = image_tag 'how_it_works.jpg', :class => 'works-img'
      .sub-title.first
        Fill out a form
      .text
        The first step will take you only a few minutes.
        Unlike other essay writing services, we value not only your money,
        but also your time. You need 3 times less time for placing an order,
        than on other essay writing websites.
        %br
        %br
        Firstly, you need to provide us with all the information concerning your
        order – deadline, number of pages, type of paper, academic level.
        The price is calculated automatically allowing you to make a decision
        right here right now – to be or not to be, to place your order or not.
        But according to statistical data, 98% of users proceed to the next steps,
        place an order and enjoy fast and quality essay writing service.
      .sub-title
        Place your order
      .text
        Once you’ve filled out an entry form, place your order and enter additional
        details such as discipline, topic, comments and suggestions, which will
        help us to make your assignment perfect. We’ll select the best essay writer
        with enough knowledge and expertise for you, so be sure that we’ll write an
        essay or assignment of any kind professionally and on time.
        %br
        %br
        You can also upload additional materials as well as see the list of available authors and their rating.
        The whole process won’t take much time. Also you will need to enter your
        email and create a password or use a Facebook connect to log in. Make a
        payment and relax, we’ll do everything for you. We know better than anyone
        how to write an essay.
      .sub-title
        Track the progress
      .text
        The work starts once we receive the payment from you.
        Get access to your personal EssayStation account 24 hours a day and
        see the status of your order. If you want to add something more or
        have any ideas concerning the assignment and you want to share them
        with your personal essay writer – contact our customer support
        via live chat form.
        %br
        %br
        After the paper/essay/assignment is finished, it’s checked and corrected
        (if necessary) thoroughly by a team of experienced editors.
      .sub-title
        Paper delivered
      .text
        The last and the most pleasant step is getting your essay by email,
        which is the most frequent, reliable and convenient way of receiving
        important correspondence.
        %br
        %br
        We guarantee the top quality essay writing service and on time delivery of
        any kind of assignment. There is nothing complicated or impossible for us.
        If the results don’t meet your expectations – contact our customer support
        for revising the assignment or refund. But this almost never happens. We
        receive thousands of positive reviews daily. Only happy customers. Only highest
        marks. Only EssayStation.
    .pages
      = render "orders/order_form"