Payment successfully accepted

Order ID
= "#{'#'+@order.id.to_s}"

Follow the link to check the order status
= "#{'http://essaystation.com/orders/'+@order.id.to_s}"

What’s next? Just relax!

We’ll contact you when your order is ready.

Sincerely, EssayStation.com
    