!!! 5
%html
  %head
    %title EssayStation
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:600,400,300,700&subset=cyrillic,latin', :rel => 'stylesheet', :type => 'text/css'}

  %body
    .email
      .header{:style=>'background:#acc590;width:100%;height:80px;text-align:center;'}
        %img{:src=>'http://essay.themindstudios.com/logo.png',:style=>'padding:0px 0px;'}
      .body{:style=>'background:#e9e9e9;height:100%;width:100%;'}
        .container{:style=>'width:450px;margin:auto;text-align:center;padding-bottom:60px;'}
          .title{:style=>'font-weight:600;font-size:24px;padding-top: 35px;padding-bottom: 25px;color:#675a5a;'}
            Payment successfully accepted
          .content{:style=>'width:100%;min-height:280px;background:white;'}
            .id{:style=>'font-size:16px;padding-top:30px;padding-bottom:20px;'}
              .text{:style=>'color:#ccc4c7;display: inline-block;'}
                Order ID
              .number{:style=>'color:#675a5a;display: inline-block;'}
                = "#{'#'+@order.id.to_s}"
            .check-order{:style=>'width:375px;height:60px;border:3px solid #dddddd;margin:auto;background:#f3f3f3;text-align:center;font-size:16px;padding-top:12px;'}
              .label{:style=>'color:#675a5a;'}
                Follow the link to check the order status
              .link{:style=>'color:#40b5b0;padding-top:10px;'}
                %a{:href=>'http://essaystation.com/orders/'+@order.id.to_s}
                  #{'http://essaystation.com/orders/my_order'}
            .contact-to-you{:style=>'padding-top:30px;font-size:14px;color:#675a5a;'}
              What’s next? Just relax!
              %br
              We’ll contact you when your order is ready.
            .bottom{:style=>'padding-top:20px;font-size:14px;color:#675a5a;'}
              Sincerely,
              %a{:href=>'http://essaystation.com'}
                EssayStation.com